<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".compose_new_micro") %>
  </div>
  <%= f.submit t(".post_submid"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: "image/jpec,image/gif,image/png" %>
  </span>
<% end %>
